/* global variables */
:root {
	--dark-blue: hsl(240, 38%, 20%);
	--grayish-blue: hsl(240, 18%, 77%);
}

* {
	box-sizing: border-box;
}

/* visually hidden */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

html {
	font-family: "Inter", sans-serif;
	font: 16px;
	color: var(--dark-blue);
}

p {
	font-weight: 300;
	font-size: 1.12rem;
	line-height: 1.5;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(./images/pattern-curve.svg) no-repeat bottom;
	background-size: contain;
	padding: 2rem;
}

.slider {
	height: 100%;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	display: block;
	position: relative;
}

.slide {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.slide-image {
	height: 100%;
	margin: 0 auto;
	padding: 1.8rem 2rem;
	background: url(./images/pattern-bg.svg) no-repeat bottom right;
	background-size: cover;
	margin-bottom: 2rem;
}

.slide-image img {
	height: 100%;
	width: 250px;
}

.slide-text {
	padding: 1.5rem 0;
	background: url(./images/pattern-quotes.svg) no-repeat top center;
	background-size: 5rem;
	z-index: 1;
}

.slide-text .text {
	margin-bottom: 1.2rem;
}

.author {
	font-weight: 700;
	font-size: 0.9rem;
	line-height: 1.4;
}

.author span {
	color: var(--grayish-blue);
	display: block;
	font-weight: 500;
}

button {
	border: none;
}
.slider-buttons {
	box-shadow: -15px 10px 30px 1px rgba(133, 133, 172, 0.75);
	width: 80px;
	height: 40px;
	border-radius: 25px;
	background-color: white;
	position: absolute;
	top: 260px;
	left: 50%;
	transform: translateX(-50%);
}
.prev,
.next {
	position: absolute;
	width: 50%;
	height: 100%;
	background: url(./images/icon-prev.svg) no-repeat center center;
	background-size: 10px;
}

.prev:hover,
.next:hover {
	cursor: pointer;
	box-shadow: 0 0.5em 0.5em -0.4em var(--dark-blue);
}

.next {
	left: 50%;
	background: url(./images/icon-next.svg) no-repeat center center;
	background-size: 10px;
}

.slide-2 {
	display: none;
}

.show {
	display: block;
}

/* desktop styles */
@media only screen and (min-width: 1150px) {
	/* .container {
		background-size: contain;
	} */
	.slider {
		max-width: 85%;
		height: 70%;
	}
	.slide {
		flex-direction: row;
		text-align: left;
	}
	.slide-image {
		padding: 3rem 4rem 3rem 2rem;
		margin-left: -2rem;
	}

	.slide-image img {
		width: 540px;
	}

	.slide-text {
		background-position-x: 25%;
		background-size: 6rem;
		padding-top: 3rem;
	}

	p {
		font-size: 2rem;
		line-height: 1.375;
	}
	.author {
		font-size: 1.25rem;
	}
	.author span {
		display: inline;
		margin-left: 0.5rem;
	}
	.slider-buttons {
		left: 60%;
		top: 560px;
		width: 112px;
		height: 56px;
		border-radius: 35px;
	}
}

/* very narrow screens */
@media only screen and (max-width: 350px) {
	.slide-image img {
		width: 180px;
	}
	.slider-buttons {
		top: 180px;
	}
}
