html {
	font-family: "Inter", sans-serif;
	font: 16px;
}

* {
	box-sizing: border-box;
}

p {
	font-size: 1.12rem;
	line-height: 24px;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: no-repeat bottom url(./images/pattern-curve.svg);
	padding: 2rem;
}

.slider {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: block;
	position: relative;
}

.slide {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.slide-image {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 1.8rem 1.5rem 1.5rem 1.5rem;
	background: url(/images/pattern-bg.svg) no-repeat center;
	background-size: contain;
	margin-bottom: 2rem;
}

.slide-image img {
	height: 100%;
	width: 250px;
}

.slide-text {
	padding: 1.5rem 0;
	background: url(./images/pattern-quotes.svg) no-repeat top center;
	background-size: 5rem;
}

.slide-text .text {
	margin-bottom: 1.2rem;
}

.author {
	font-weight: 700;
	font-size: 0.9rem;
	line-height: 20px;
}

.author span {
	display: block;
	font-weight: 500;
}

.slide-2 {
	display: none;
}

/* desktop styles */
@media only screen and (min-width: 1025px) {
	.slider {
		max-width: 80%;
	}
}

/* very narrow screens */
@media only screen and (max-width: 350px) {
	.slide-image img {
		width: 180px;
	}
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
